extends layout 
 
block content 
  h1= title 
 
  form(id='kitesForm', action="/resource/kites", method="POST") 
    div.form-group 
        label.kitesAttr(for='name') Kite Name 
        input#name(type='text', name='name') 
    
    div.form-group 
        label.kitesAttr(for='cost') Kites cost 
        input#cost(type='number', name='cost') 
    input(type="submit") 
 
  script. 
    document.forms['kitesForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.text(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 