extends layout 
 
block content 
  h1= title 
 
  - let kitesid = toShow.id 
  - let name = toShow.name 
  - let color = toShow.color 
  - let cost = toShow.cost
  div 
    div.row 
      div(class='kitesAttr mr-3') Kites ID is: 
      div #{kitesid} 
    div.row 
      div(class='kitesAttr mr-3') Kite name is: 
      div #{name} 
    
    div.row 
      div(class='kitesAttr mr-3') Kite Cost is: 
      div #{cost} 